

.todo_form{
  display: flex;
  margin: 0;
}



.todo_item{
  display: flex;
  justify-content: space-around;
  text-align: left;
  max-width: 300px;
  border-bottom: 1px solid black;
}
.title{
  border-bottom: 1px solid black;
}
.todo_title{
  list-style: none;
}